/* Estilos generales del formulario */
body {
  background-color: #f3f2f2;
  margin-bottom: 60px;
  margin: 0%;
  /* Añade un margen inferior para dar espacio al footer */
}

.container-nav {
  display: flex;
  padding: 10px;
  background-color: black;
  align-items: center;
  justify-content: space-between;
}

.lamiel {
  display: flex;
}

.nav-links a {
  color: #fff;
  padding: 10px;
  text-decoration: none;
}

ul {
  display: flex;
}

.nav-links li {
  list-style: none;
}


.button-menu-toggle {
  display: none;
  width: 70px;
  height: 50px;
  color: #000000;
}
.logo-img {
  width: 120px; /* Ajusta el ancho según tus necesidades */
  height: 80px; /* Ajusta la altura según tus necesidades */
}

.radio-widgets-calculator {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 20px;
}


.container-widgets,
.calculator {
  flex-basis: 100%;
  max-width: 38%;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.container-radio {
  flex-basis: 100%;
  max-width: 20%;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.container-radio {
  background-color: #000000;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-image: url("img/fondo\ reproductor.jpg");
  background-size: cover;
}

#reproductor-audio {
  width: 100%;
  max-width: 300px;
  /* Ajusta el ancho máximo según tus necesidades */
  margin: 0 auto;
  /* Centrar horizontalmente */
  display: block;
  /* Asegura que el reproductor sea un bloque para centrarlo */
  margin-top: 40px;
}

.container-radio {
  text-align: center;
  /* Centrar el contenido del contenedor */
}

.container-emisoras {
  box-sizing: border-box;
  display: flex;
  margin-top: 20px;
}

#emisoras {
  width: 70%;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
  /* Centrar horizontalmente */
}

.container-widgets {
  background-color: #98f5c2;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
  /* Centrar horizontalmente */
  width: 100%;
}

.exchangemonitor-widget-unique {
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.exchangemonitor-widget-container {
  display: flex;
  align-items: center;
  justify-content: center;

}

.exchangemonitor-widget-box {
  width: 100%;
  height: 100%;

}

.calculator {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;

}

input[type="number"],
button {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

#result {
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  font-size: 30px;
}



.calculator input[type="number"] {
  text-align: center;
  margin-bottom: 10px;
  width: 100%;
  padding: 5px;
}

.calculator #result {
  text-align: center;
  margin-top: 10px;
}

.calculator button {
  margin-top: 10px;
  width: 100%;
  padding: 8px;
  background-color: rgb(131, 224, 127);
}


.about-section {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 2% 0;
}

.about-section .column {
  flex-basis: 33.33%;
  padding: 0 20px;
  text-align: center;
  max-width: 300px;
  background-color: white;
  margin: 10px;
}

.about-section h2 {
  margin-bottom: 10px;
}

.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 5px;
  margin: 0 auto;
  /* Centrar horizontalmente */
}

.slider-item {
  position: relative;
  /* Agregamos posición relativa */
  display: none;

}

.slider-item:first-child {
  display: block;
}

.slider-item img {
  width: 100%;
  height: auto;
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  /* Asegurar que los botones estén por encima de los slides */
}

#prevBtn {
  left: 0;
}

#nextBtn {
  right: 0;
}

.slider-container:hover .nav-btn {
  opacity: 1;
}

.nav-btn {
  /* ... */
  opacity: 0;
  transition: opacity 0.3s ease;
}


/* Estilos generales del formulario */
.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f5f5f5;
  margin-top: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

/* Estilos para el footer */
footer {
  background-color: black;
  padding: 10px 0;
  text-align: center;
  bottom: 0;
  width: 100%;
  margin-top: 60px;
}

.footer-text {
  color: white;
  font-size: 14px;
}

.footer-text span {
  color: #888888;
}

/* Estilos para pantallas con ancho máximo de 767px */
@media (max-width: 767px) {
  .radio-widgets-calculator {
    flex-direction: column;
  }

  .container-radio,
  .container-widgets,
  .calculator {
    max-width: 100%;
  }

  .container-radio {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .nav-links {
    display: none;
  }

  .button-menu-toggle {
    display: block;
    background: linear-gradient(45deg, #f8d200, #e88e0a, #f8d200);
    background-size: 300% 100%;
    border: none;
    border-radius: 5px;
    font-family: monospace;
    font-weight: bold;
    font-size: 25px;
    margin-right: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
  }

  /* Estilos cuando el cursor está sobre el botón */
  .button-menu-toggle:hover {
    background-position: 100% 0;
  }

  .nav-links.nav-links-responsive {
    position: absolute;
    display: flex;
    background-color: rgba(20, 20, 20, 0.95);
    width: 100%;
    height: 100vh;
    top: 105px;
    flex-direction: column;
    text-align: center;
    z-index: 1;
    /* Asegura que el menú esté en el frente */
  }

  .nav-links ul {
    flex-direction: column;
    font-size: 50px;
    gap: 60px;
  }

  .about-section .column {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
}

/* Estilos para pantallas con ancho máximo de 767px */
@media (max-width: 767px) {
  header {
    background-color: #333;
  }
}

/* Cambia el tamaño de fuente del texto de navegación
a 16 píxeles en pantallas con un ancho máximo de 767 píxeles. */
@media (max-width: 767px) {
  nav {
    font-size: 16px;
  }
}

/* Ajusta el ancho del encabezado a 1200 píxeles 
en pantallas con un ancho mínimo de 1200 píxeles. */
@media (min-width: 1200px) {
  header {
    width: 1200px;
  }
}